/* Adds background color and border */
LogView.container
{
    -fx-background: #E9E9E9;
    -fx-border-style: hidden solid solid solid;
    -fx-border-color: #C8C8C8;
}

/* StyleClass selector for ScrollPane, that don't want to draw a border */
LogView.container, .tab-pane > * > .scroll-pane
{
    -fx-background-insets: 0;
    -fx-padding: 0;
}